
:80 {
  encode zstd gzip
  @api path /api/*
  handle @api {
    reverse_proxy localhost:3000
  }
  @ctx path /ctx/*
  handle @ctx {
    uri strip_prefix /ctx
    reverse_proxy localhost:8080
  }
  handle {
    reverse_proxy localhost:3001
  }
}
